.chat-main
  .chat-main__group-info
    .group-name-main
      .group-name-main__text
        text
      .group-name-main__member
        Member: masa
    .edit-btn
      = link_to "#" do
        Edit
  .chat-main__message-list
    .message-block
      .message-block__message-title
        .message-block__message-title__name
          masa
        .message-block__message-title__date
          2019/11/20(wed) 17:43:01
      .message-block__message-text
        おはよう！
    .message-block
      .message-block__message-title
        .message-block__message-title__name
          masa
        .message-block__message-title__date
          2019/11/20(wed) 17:43:01
      .message-block__message-text
        おはよう！
  .chat-main__message-form
    .input-message
      %input.input-message__text{:type => "text"}/
      %label.input-message__image{:for => "image-form"}
        =icon('fa', 'image')
      %input.image-form{:type => "file", :id => "image-form"}
    %input.submit-btn{:type => "submit", :value => "Send"}